/* Contact */

:root {
  --post-blue: #64a4ce;
  --post-hoverblue: #2980b9;
  --footer-blue: #80e1ff;
}

.contact-h1 {
  color: black;
  text-shadow: 0 0 5px var(--footer-blue);
  font-size: 2rem;
  margin-bottom: -30px;
  padding-top: 6rem;
  text-align: center;
}

.contact-main {
  background-image: url(/images/ContactImage-min.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 100px;
}

.contact {
  color: white;
  margin: auto;
  transform: translateY(5%);
  padding-bottom: 100px;
  position: relative;
}

.contact__text {
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.contact__text p {
  margin-bottom: 10px;
}

#contactForm {
  max-width: 400px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.form-field {
  width: 100%;
}

.contact__container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}
.contact input[type="text"],
.contact input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 100%;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus {
  outline: none;
  border-color: #0070f3;
  box-shadow: 0 0 0 2px rgba(0, 112, 243, 0.25);
}

.contact .form-error {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

#contactButton[type="submit"] {
  background-color: var(--footer-blue);
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  width: fit-content;
  align-self: flex-end;
}

#contactButton[type="submit"]:hover {
  background-color: rgb(194, 189, 189);
}

#message {
  height: 180px;
  width: 100%;
  padding: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 5px;
  border: none;
}

#succeedMessage {
  text-align: center;
  color: green;
}

#successReturn {
  background-color: rgb(128 225 255);
  color: #000000;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#successReturn[type="submit"]:hover {
  background-color: rgb(85, 159, 182);
}

/* Error Messages */

.error-message {
  color: red;
  font-weight: 900;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .contact {
    width: 90%;
  }
}
